services:
  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    # environment:
    #   - BOT_TOKEN=${BOT_TOKEN}
    #   - DATABASE_URL=postgres://user:password@postgres:5432/bot?sslmode=disable
    restart: unless-stopped

  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: bot
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    restart: unless-stopped

volumes:
  postgres_data: