name: Deploy to Production

on:
  push:
    branches:
      - main    

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3   # или v1.0.0+ если вышла новее
        with:
          debug: true
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: 22
          known_hosts: unnecessary   # если хочешь отключить проверку хоста (для теста)
          script: |
            whoami
            pwd
            cd /var/www/GoFitness || echo "Папка не найдена"
            git status