name: Deploy to Production

on:
  push:
    branches:
      - main    

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          debug: true
          host: ${{ secrets.SERVER_IP }}  
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: 22
          script: |
            cd /var/www/GoFitness
            git pull
            docker compose down 
            docker compose up -d --build --remove-orphans
